/* ////////////////////////////////////////////////////////Begin Services section\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.services{
    font-size: 1.5em;
    margin: 20px;
    padding: 0 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
@media only screen and (max-width: 517px){
    .services{
      font-size: 1em;
      margin: 20px;
    }
}

.services-contact{
    width: 200px;
    align-self: end;
}
.row-two{
    text-align: right;
}
@media only screen and (max-width: 517px){
    .row-two{
        text-align: unset;
    }
}
.row{
    margin: 50px 0;
}